@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'Raleway', sans-serif !important;
    /* font-size: 12px; */
    /* font-weight: 400; */
    /* width: 1350px; */
    /* height: auto; */
    /* color: black; */
}
/*vis-title {
    font-size: 50pt; 
    font-weight: 600;
    /* line-height: 100pt;
    justify-content: left;
    text-align: left;
    letter-spacing: -1px;
}*/

.header-vis p {
    font-size: 13px;
    font-size: 'Raleway light';
    line-height: 1.74;
}

.pg-line-height {
    line-height: 1.74;
}

.header-vis {
    padding-right: 140px;
}
.user-text {
    font-weight: light;
    font-size: 10pt;
    i {
        font-size: 10pt;
    }
}
.container-xl.main-container {
    overflow: hidden; /* Prevent scrolling */
}
.play-med {
    height: 20px;
    width: auto;
}
.btn.btn-sm.btn-play {
    width: 100px;      /* Adjust width if needed */
    height: 40px;  
}

#playButtonDesktop,
#restartButtonDesktop {
    background-color: #fec03c ;
}
.arrow-container {
    position: absolute;
    width: 215px;
    cursor: pointer;
    z-index: 10; /* Make sure arrows are on top of the SVG */
}

.up-arrow {
    top: 675px;  /* Position at the top */
    /* right: 0px; */
}

.down-arrow {
    bottom: -550px;  /* Position at the bottom */
}
.down-arrow.disabled {
    opacity: 0.25;         /* Make the element appear faded */
    pointer-events: none; /* Disable any click or hover events */
    cursor: not-allowed; 
}
.arrow-container i {
    font-size: 45px;  /* Size of the arrow */
    color: #000;
}

.img-fluid.country-flag {
    width: 45px;
    height: 22px;
    border: black 1px solid !important;
}
.img-fluid.calendar {
    width: auto;
    height: 22px;
}
.img-fluid.location {
    width: auto;
    height: 22px;
}


.col-lg-3.pb-3.col-summits-info {
    height: 500px;
    overflow-y: auto;
}
#lupa {
    width: 20px;     
    height: 20px;
    cursor: none;
}

.same-font-size,
.summitNospan {
    font-size: 11pt;
}

#summitList {
    font-size: 11pt;
}
/*.summitNospan {
    width: 40px;
    height: 22px;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
}*/
/* .same-font-color {
    color: #000;
} */

.column-with-border {
    border-right: #808080c2 1px solid;
    height: 515px; 
    padding-left: 10px;
}

#apri-logo {
    width: 160px
}

.mobile-navigation-icon {
    width: 24px;
    height: 25px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-left: 30px;
}
.header-search-form-two a {
    line-height: 0;
    font-size: 18px;
}

.apri-separator-vis {
    border-bottom: 3px solid #fcc12c;
    width: 100%;
}
 /* separator after summit info container item */
 /* Add a gray line after each list item */
#summitList li {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#summitList li::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: lightgray;
    position: absolute;
    bottom: 0;
    left: 0;
}

.header-vis {
    background-color: #f2f2f2;
}
.badge-normal {
    font-weight: normal !important;
}
.summit-title {
    line-height: 1.5; /* Adjust the line-height as needed */
}
/* Default styles for zoom buttons */
.zoom-button {
    position: absolute;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#map-mobile.svg {
    max-width: 350px !important
}

/* Desktop+ screens */
@media (min-width: 992px) {
    .apri-separator-vis {
        width: 30%; /* Adjust the width as needed */
    }
}


/* -------------- */
/* Mobile styling */
/* -------------- */

/* Position zoom buttons on the bottom right corner for mobile devices */
@media (max-width: 575.98px) {
    .zoom-button {
        bottom: 20px;
        right: 20px;
    }
    .zoom-button.zoom-in {
        margin-bottom: 60px; /* Adjust the margin as needed */
    }
}

.mbsc-list-item {
    font-family: 'Raleway', sans-serif; /* Change to your desired font family */
    /*
    font-size: 16px;
    font-weight: bold; 
    color: #333; 
    */
}
@media (max-width: 575.98px) {
    .mobile-font-size {
        font-size: 14px; /* Change to your desired font size */
    }
    .form-control.mobile-font-size {
        font-size: 14px; /* Change to your desired font size */
    }
}

@media (max-width: 575.98px) {
    .badge-mobile {
        width: 38px; /* Change to your desired font size */
        text-align: center;
        padding-left: 0rem;
    }
}


@media (max-width: 575.98px) {
    .img-fluid.country-flag {
        width: 38px; /* Adjust the width as needed */
        height: 26px; /* Adjust the height as needed */
    }
    .img-fluid.calendar {
        width: 30px; /* Adjust the width as needed */
        height: 18.33px; /* Adjust the height as needed */
    }
    .img-fluid.location {
        width: 30px; /* Adjust the width as needed */
        height: 18.33px; /* Adjust the height as needed */
    }
}

@media (min-width: 992px) {
    .img-fluid.country-flag {
        width: 34.13px; /* Adjust the width as needed */
        height: 20.69px; /* Adjust the height as needed */
    }
}

#select-year,
#select-country {
    border-radius: 0 !important;
}
.no-border-radius {
    border-radius: 0 !important;
}
.rounded-container {
    border-radius: 0.5rem; /* Adjust the value as needed */
    overflow: hidden; /* Ensure child elements do not overflow the rounded corners */
}
.custom-input-height {
    height: 2rem; /* Adjust the value as needed */
}