@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'Raleway', sans-serif !important;
    font-size: 12px;
    font-weight: 400;
    /* width: 1350px; */
    height: auto;
    color: black;
}
#vis-title {
    /* font-size: 50pt; */
    font-weight: 600;
    /* line-height: 100pt;
    justify-content: left;
    text-align: left;
    letter-spacing: -1px; */
}

.container-xl.main-container {
    overflow: hidden; /* Prevent scrolling */
}
.play-med {
    height: 20px;
    width: auto;
}
.btn.btn-sm.btn-play {
    width: 100px;      /* Adjust width if needed */
    height: 40px;  
}
.arrow-container {
    position: absolute;
    width: 215px;
    cursor: pointer;
    z-index: 10; /* Make sure arrows are on top of the SVG */
}

.up-arrow {
    top: 675px;  /* Position at the top */
    /* right: 0px; */
}

.down-arrow {
    bottom: -575px;  /* Position at the bottom */
}
.down-arrow.disabled {
    opacity: 0.25;         /* Make the element appear faded */
    pointer-events: none; /* Disable any click or hover events */
    cursor: not-allowed; 
}
.arrow-container i {
    font-size: 45px;  /* Size of the arrow */
    color: #000;
}

.img-fluid.country-flag {
    width: 35px;
}

.col-lg-3.pb-3.col-summits-info {
    height: 500px;
    overflow-y: auto;
}
#lupa {
    width: 20px;     
    height: 20px;
    cursor: none;
}

.same-font-size,
#summitList,
.summitNospan {
    font-size: 18px;
}
.font-size-instr {
    font-size: 14px;
}
.same-font-color {
    color: #000;
}

.column-with-border {
    border-right: #808080c2 1px solid;
    height: 515px; 
    padding-left: 10px;
}

#apri-logo {
    width: 160px
}

.mobile-navigation-icon {
    width: 24px;
    height: 25px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-left: 30px;
}
.header-search-form-two a {
    line-height: 0;
    font-size: 18px;
}