@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'Raleway', sans-serif !important;
    /* font-size: 12px; */
    /* font-weight: 400; */
    /* width: 1350px; */
    /* height: auto; */
    /* color: black; */
}
/*vis-title {
    font-size: 50pt; 
    font-weight: 600;
    /* line-height: 100pt;
    justify-content: left;
    text-align: left;
    letter-spacing: -1px;
}*/
.timeline-summit {
    width: 100%

}

h1.timeline-title {
    font-size: 24pt;
    color: #000;
    margin-bottom: 20px;
    border-bottom: 2pt solid #fcc12c;
    padding-bottom: 15px;
    display: inline-block;
    font-weight: bold;
    width: 815px; /* Adjust the width as needed */
}
.header-vis p {
    font-size: 13pt;
    font-size: 'Raleway light';
    line-height: 1.74;
}

.pg-line-height {
    line-height: 1.74;
}

.subtitle-summit-info {
    line-height: 1.2;
}

.header-vis {
    width: 100%;
    background-color: #f2f2f2;
    padding: 3rem 10rem 3rem 4rem;
    border-radius: 5px;
    padding-left: 180px; 

    /* font-family: "RalewayN", sans-serif; */
}
.user-text {
    font-size: 13pt;
    /* padding-left: 60px; */
    i {
        font-size: 13pt;
    }
}
.container-vis-platform {
    border: 0.5px solid #d7d7d7;
    border-radius: 10px;
    padding: 20px;
    justify-content: space-between;
    margin: 0 60px 0 60px;
    /* margin-right: 100px;
    margin-left: 200px; */
    box-sizing: border-box;
    height: 700px;
}
.container-xl.main-container {
    overflow: hidden; /* Prevent scrolling */
}
.play-med {
    height: 18px;
    width: 18px;
}
.btn.btn-sm.btn-play {
    width: 100px;      /* Adjust width if needed */
    height: 40px;  
}

#playButtonDesktop,
#restartButtonDesktop {
    background-color: #fec03c ;
}
.btnZoom {
    /* top: 10px;  Ajusta la posición según tus necesidades */
    /* right: 10px; Ajusta la posición según tus necesidades */
    /* display: flex; */
    /* flex-direction: column; */
  }
  
  /* Estilos comunes para los botones */
  .btnZoom button {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    padding: 0px; /* Elimina el padding para que el botón no tenga espacio extra */
    border: none; /* Borde negro */
    margin:0px;
  
  }
  
  /* Estilos para los iconos SVG dentro de los botones */
  .btnZoom button img {
    width: 30px; /* Ajusta el tamaño del icono */
    height: 30px;
  
  }
.arrow-container {
    position: absolute;
    width: 215px;
    cursor: pointer;
    z-index: 10; /* Make sure arrows are on top of the SVG */
}

.up-arrow {
    top: 675px;  /* Position at the top */
    color: #fec03c;
    background-color: #fec03c;
    /* right: 0px; */
}

.down-arrow {
    bottom: -550px;  /* Position at the bottom */
    color: #fec03c;
    background-color: #fec03c;
}
.down-arrow.disabled {
    opacity: 0.25;         /* Make the element appear faded */
    pointer-events: none; /* Disable any click or hover events */
    cursor: not-allowed; 
}
.arrow-container i {
    font-size: 45px;  /* Size of the arrow */
    color: #000;
}

.img-fluid.country-flag {
    width: 45px;
    height: 22px;
    border: black 1px solid !important;
}
.img-fluid.calendar {
    width: auto;
    height: 22px;
}
.img-fluid.location {
    width: auto;
    height: 22px;
}


.col-lg-2.pb-lg-3.col-summits-info {
    height: 650px;
    overflow-y: auto;
}
#lupa {
    width: 18px;     
    height: 18px;
    cursor: none;
}

.same-font-size,
.summitNospan {
    font-size: 11pt;
}

#summitList {
    font-size: 11pt;
}
/*.summitNospan {
    width: 40px;
    height: 22px;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
}*/
/* .same-font-color {
    color: #000;
} */
.last-country {
    margin-bottom: 40px; /* Adjust this value as needed */
}
/* .column-with-border {
    border-right: #808080c2 1px solid;
    height: 515px; 
    padding-left: 10px;
} */

#apri-logo {
    width: 160px
}

.mobile-navigation-icon {
    width: 24px;
    height: 25px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-left: 30px;
}
.header-search-form-two a {
    line-height: 0;
    font-size: 18px;
}

.apri-separator-vis {
    border-bottom: 3px solid #fcc12c;
    width: 100%;
}
 /* separator after summit info container item */
 /* Add a gray line after each list item */
#summitList li {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#summitList li::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: lightgray;
    position: absolute;
    bottom: 0;
    left: 0;
}


/* span.badge {
    width: 34.13px;
} */
/* .badge-normal {
    font-weight: normal !important;
    width: 34.13px;
} */
 span.summit-number.badge {
    width: 34.13px !important;
 }
.summit-title {
    line-height: 1.5; /* Adjust the line-height as needed */
}
/* Default styles for zoom buttons */
.zoom-button {
    position: absolute;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#map-mobile.svg {
    max-width: 350px !important
}

/* Desktop+ screens */
@media (min-width: 992px) {
    .apri-separator-vis {
        width: 30%; /* Adjust the width as needed */
    }
}


/* -------------- */
/* Mobile styling */
/* -------------- */

/* Position zoom buttons on the bottom right corner for mobile devices */
@media (max-width: 575.98px) {
    .zoom-button {
        bottom: 20px;
        right: 20px;
    }
    .zoom-button.zoom-in {
        margin-bottom: 60px; /* Adjust the margin as needed */
    }
}

.mbsc-list-item {
    font-family: 'Raleway', sans-serif; /* Change to your desired font family */
    /*
    font-size: 16px;
    font-weight: bold; 
    color: #333; 
    */
}
@media (max-width: 575.98px) {
    .mobile-font-size {
        font-size: 14px; /* Change to your desired font size */
    }
    .form-control.mobile-font-size {
        font-size: 14px; /* Change to your desired font size */
    }
}

@media (max-width: 575.98px) {
    .badge-mobile {
        width: 38px; /* Change to your desired font size */
        text-align: center;
        padding-left: 0rem;
    }
}


@media (max-width: 575.98px) {
    .img-fluid.country-flag {
        width: 38px; /* Adjust the width as needed */
        height: 26px; /* Adjust the height as needed */
    }
    .img-fluid.calendar {
        width: 30px; /* Adjust the width as needed */
        height: 18.33px; /* Adjust the height as needed */
    }
    .img-fluid.location {
        width: 30px; /* Adjust the width as needed */
        height: 18.33px; /* Adjust the height as needed */
    }
}

@media (min-width: 992px) {
    .img-fluid.country-flag {
        width: 34.13px; /* Adjust the width as needed */
        height: 20.69px; /* Adjust the height as needed */
    }
}

#select-year,
#select-country {
    border-radius: 0 !important;
}
.no-border-radius {
    border-radius: 0 !important;
}
.rounded-container {
    border-radius: 0.5rem; /* Adjust the value as needed */
    overflow: hidden; /* Ensure child elements do not overflow the rounded corners */
}
.custom-input-height {
    height: 2rem; /* Adjust the value as needed */
}